.course-home {
.back {
    background-image: url("~/src/Images/background1.webp") !important;
    background-size: cover;
    background-attachment: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 50px;
    color: #04736a;
    text-align: center;
}
}

.category{
    display: flexbox;
    padding: 30px;
}

.category-items{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.card{
    margin-right: 0;
    
}

.outer-container{
    width: 100%;
    display: grid;
    // flex-direction: row;
    margin-right: 0;
    // grid-template-columns: auto auto auto ;
    // grid-template-rows: auto auto auto;
}